<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="First_Project_DB_App_Config.Properties.Settings.FirstDatabaseProjectConnectionString"
            connectionString="Data Source=CHIRAN-PC;Initial Catalog=FirstDatabaseProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<!--<connectionStrings>
  <add name="MyDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=CHIRAN-PC; Initial Catalog=FirstDatabaseProject; Integrated Security=SSPI;" />
</connectionStrings>-->
</configuration>